<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{% unless page.is_homepage %}{{ page.title }} &middot; {% endunless %}{{ site.site_name }}</title>

  <link rel="stylesheet" href="css/style.css" />

</head>
<body class="page--{{page.slug}}">

  <nav class="site-nav">
    <div class="site-nav__container">
      <h1 class="site-nav__title"><a href=".">{{ site.site_name }}</a></h1>
      <ul class="site-nav__list">
        <li class="nav-item-intro"><a href=".">Introduction</a></li>
        <li class="nav-item-perspective"><a href="perspective">Perspective</a></li>
        <li class="nav-item-functions"><a href="3d-transform-functions">3D transform functions</a></li>
        <li class="nav-item-card"><a href="card-flip">Card flip</a></li>
        <li class="nav-item-cube"><a href="cube">Cube</a></li>
        <li class="nav-item-box"><a href="box">Box</a></li>
        <li class="nav-item-carousel"><a href="carousel">Carousel</a></li>
        <li class="nav-item-conclusion"><a href="conclusion">Conclusion</a></li>
      </ul>
    </div>
  </nav>

  <section class="content" id="content">

    {% if page.is_homepage %}
      <div class="scene scene--hero">
        <div class="cube cube--hero is-spinning">
          <div class="cube__face cube__face--front">front</div>
          <div class="cube__face cube__face--right">right</div>
          <div class="cube__face cube__face--back">back</div>
          <div class="cube__face cube__face--left">left</div>
          <div class="cube__face cube__face--top">top</div>
          <div class="cube__face cube__face--bottom">bottom</div>
        </div>
      </div>
    {% endif %}

    <h1>{{ page.title }}</h1>

    {{ content }}

  </section>

  <footer>
    <p><a href=".">{{ site.site_name }}</a> by David DeSandro</p>
    <p>Written content licensed <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>.
        All example code licensed <a href="https://desandro.mit-license.org/">MIT</a>.</p>
    <p>Help improve these docs. <a href="https://github.com/desandro/3dtransforms/issues/">Open an issue or pull request on GitHub.</a></p>
  </footer>


  <script src="../js/utils.js"></script>
  {% if page.script %}
    <script src="../js/{{page.script}}"></script>
  {% endif %}

</body>
</html>
