<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{% unless page.is_homepage %}{{ page.title }} &middot; {% endunless %}{{ site.site_name }}</title>

  <link rel="stylesheet" href="css/style.css" />

</head>
<body class="page--{{page.slug}}">

  <nav class="site-nav">
    <div class="site-nav__container">
      <h1 class="site-nav__title"><a href=".">{{ site.site_name }}</a></h1>
      <ul class="site-nav__list">
        <li class="nav-item-intro"><a href=".">Introduction</a></li>
        <li class="nav-item-perspective"><a href="perspective.html">Perspective</a></li>
        <li class="nav-item-functions"><a href="3d-transform-functions.html">3D transform functions</a></li>
        <li class="nav-item-card"><a href="card-flip.html">Card flip</a></li>
        <li class="nav-item-cube"><a href="cube.html">Cube</a></li>
        <li class="nav-item-box"><a href="box.html">Box</a></li>
        <li class="nav-item-carousel"><a href="carousel.html">Carousel</a></li>
        <li class="nav-item-conclusion"><a href="conclusion.html">Conclusion</a></li>
      </ul>
    </div>
  </nav>

  <section class="content" id="content">

    <h1>{{ page.title }}</h1>

    {{ content }}

  </section>

  <footer>
    <p><a href=".">{{ site.site_name }}</a> by David DeSandro</p>
    <p>Article content licensed <a href="http://creativecommons.org/licenses/by/2.0/">CC-BY</a>.
        All example code licensed <a href="http://desandro.mit-license.org/">MIT</a>.</p>
    <p><a href="https://github.com/desandro/3dtransforms/issues/">Help improve these docs. Open an issue or pull request.</a></p>
  </footer>


  <script src="../js/utils.js"></script>
  {% if page.script %}
    <script src="../js/{{page.script}}"></script>
  {% endif %}

</body>
</html>
