<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  
  <!-- disable zooming -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="../css/style.css" media="screen" />
  
  {{ content }}
  
  <footer>
    <p class="disclaimer">Sorry, your browser does not support CSS 3D transforms. Try viewing this page in <a href="http://www.apple.com/safari/">Safari</a> or on an iOS device.</p>
    <p>Example for <a href="../">Intro to CSS 3D Transforms</a> by David DeSandro</p>
  </footer>

</body>
</html>